### *** workbench에서 db 먼저 생성 - set as default schema ***

## 01. CREATE

In [4]:
import pymysql

conn = pymysql.connect(
    host = 'localhost', user='root', password='1234',
    db = 'python', charset='utf8'
)
cursor = conn.cursor()

sql = '''CREATE TABLE mysql2 (
            id INTEGER PRIMARY KEY AUTO_INCREMENT,
            title VARCHAR(100), content VARCHAR(100))'''
cursor.execute(sql)
conn.commit()
cursor.close()
conn.close()

## 01. INSERT

In [5]:
import pymysql

conn = pymysql.connect(
    host = 'localhost', user='root', password='1234',
    db = 'python', charset='utf8'
)
cursor = conn.cursor()
sql = '''INSERT INTO mysql2 (ID, TITLE, CONTENT)
            VALUES(NULL, %s, %s)'''

cursor.execute(sql, ('제목B', '내용3'))

conn.commit()
cursor.close()
conn.close()

## 02. SELECT

In [6]:
import pymysql

conn = pymysql.connect(
    host = 'localhost', user='root', password='1234',
    db = 'python', charset='utf8'
)
cursor = conn.cursor()
sql = '''SELECT * FROM MYSQL2'''

cursor.execute(sql)
result = cursor.fetchall()
print(result)
print(result[0])

conn.commit()
cursor.close()
conn.close()

((1, '제목B', '내용3'),)
(1, '제목B', '내용3')

## 03. UPDATE

In [7]:
import pymysql

conn = pymysql.connect(
    host = 'localhost', user='root', password='1234',
    db = 'python', charset='utf8'
)
cursor = conn.cursor()
sql = '''UPDATE mysql2 SET TITLE = %s
            WHERE ID = %s'''

cursor.execute(sql, ('제목수정됨', '1'))

conn.commit()
cursor.close()
conn.close()

## 04. DELETE

In [ ]:
import pymysql

conn = pymysql.connect(
    host = 'localhost', user='root', password='1234',
    db = 'python', charset='utf8'
)
cursor = conn.cursor()
sql = '''DELETE FROM mysql2 
            WHERE ID = %s'''

cursor.execute(sql, (2))

conn.commit()
cursor.close()
conn.close()