## SELECT

In [1]:
import pymysql

conn = pymysql.connect(
    host = 'localhost', user='root', password='1234',
    db = 'mydb', charset='utf8'
)
cursor = conn.cursor()
sql = '''SELECT year, area1, count(*)
        FROM accident
        GROUP BY AREA1, YEAR'''

cursor.execute(sql)
result = cursor.fetchall()
for row in result:
    print(row[0], row[1], row[2])

conn.commit()
cursor.close()
conn.close()

2016 경기 749
2016 서울 342
2016 충북 221
2016 경북 477
2016 경남 359
2016 인천 137
2016 충남 372
2016 전남 327
2016 강원 206
2016 전북 275
2016 부산 153
2016 대전 94
2016 세종 25
2016 대구 150
2016 제주 77
2016 울산 70
2016 광주 85

## SELECT (Dict)

In [5]:
import pymysql

conn = pymysql.connect(
    host = 'localhost', user='root', password='1234',
    db = 'mydb', charset='utf8'
)
cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = '''SELECT year, area1, count(*) as cnt
        FROM accident
        GROUP BY AREA1, YEAR'''

cursor.execute(sql)
result = cursor.fetchall()
for row in result:
    print(row['year'], row['area1'], row['cnt'])

conn.commit()
cursor.close()
conn.close()

2016 경기 749
2016 서울 342
2016 충북 221
2016 경북 477
2016 경남 359
2016 인천 137
2016 충남 372
2016 전남 327
2016 강원 206
2016 전북 275
2016 부산 153
2016 대전 94
2016 세종 25
2016 대구 150
2016 제주 77
2016 울산 70
2016 광주 85

## CREATE TABLE (member, article)

In [30]:
import pymysql

conn = pymysql.connect(
    host = 'localhost', user='root', password='1234',
    db = 'mydb', charset='utf8'
)
cursor = conn.cursor()

sql = '''CREATE TABLE member (
            num INTEGER PRIMARY KEY AUTO_INCREMENT,
            name VARCHAR(30), 
            email VARCHAR(30),
            c_date DATETIME)'''
cursor.execute(sql)
conn.commit()
cursor.close()
conn.close()

In [8]:
import pymysql

conn = pymysql.connect(
    host = 'localhost', user='root', password='1234',
    db = 'mydb', charset='utf8'
)
cursor = conn.cursor()

sql = '''CREATE TABLE article (
            id INTEGER PRIMARY KEY AUTO_INCREMENT,
            title VARCHAR(30), 
            content VARCHAR(30),
            writer VARCHAR(30),
            hit INTEGER,
            c_date DATETIME)'''
cursor.execute(sql)
conn.commit()
cursor.close()
conn.close()

## INSERT

In [17]:
import pymysql

conn = pymysql.connect(
    host = 'localhost', user='root', password='1234',
    db = 'mydb', charset='utf8'
)
cursor = conn.cursor()
sql = '''INSERT INTO member (NUM, NAME, EMAIL, C_DATE)
            VALUES(NULL, %s, %s, now())'''

cursor.execute(sql, ('a', 'a@a.com'))

conn.commit()
cursor.close()
conn.close()

In [11]:
import pymysql

conn = pymysql.connect(
    host = 'localhost', user='root', password='1234',
    db = 'mydb', charset='utf8'
)
cursor = conn.cursor()
sql = '''INSERT INTO article (ID, TITLE, CONTENT, WRITER, HIT, C_DATE)
            VALUES(NULL, %s, %s, %s, %s, now())'''

cursor.execute(sql, ('제목', '내용', '파이썬', 0))

conn.commit()
cursor.close()
conn.close()

## UPDATE TABLE

In [19]:
import pymysql

conn = pymysql.connect(
    host = 'localhost', user='root', password='1234',
    db = 'mydb', charset='utf8'
)
cursor = conn.cursor()
sql = '''UPDATE member SET
        NAME = %s, EMAIL = %s
        WHERE num = %s'''

cursor.execute(sql, ('aa', 'aa@aa.com', 1))

conn.commit()
cursor.close()
conn.close()

In [21]:
import pymysql

conn = pymysql.connect(
    host = 'localhost', user='root', password='1234',
    db = 'mydb', charset='utf8'
)
cursor = conn.cursor()
sql = '''UPDATE article SET
        TITLE = %s, CONTENT = %s, HIT = %s
        WHERE ID = %s'''

cursor.execute(sql, ('제목수정', '내용수정', 100, 1))

conn.commit()
cursor.close()
conn.close()

## DELETE

In [28]:
import pymysql

conn = pymysql.connect(
    host = 'localhost', user='root', password='1234',
    db = 'mydb', charset='utf8'
)
cursor = conn.cursor()
sql = '''DELETE FROM MEMBER'''

cursor.execute(sql)

conn.commit()
cursor.close()
conn.close()

## INSERT, SELECT (LIMIT)

In [43]:
import pymysql
def insert(sql, data):
    cursor.execute(sql, data)
    
conn = pymysql.connect(
     host='localhost', user='root', password='1234',
     db='mydb', charset='utf8')
cursor = conn.cursor()

In [ ]:
sql = '''INSERT INTO MEMBER
         (NUM, NAME, EMAIL, C_DATE)
         VALUES (NULL, %s, %s, NOW())'''

for i in range(1, 101):
    insert(sql, ('제목' + str(i), 'a@a.com'))

conn.commit()

In [44]:
sql = '''SELECT NUM, NAME, EMAIL, C_DATE FROM MEMBER LIMIT 95, 100'''
cursor.execute(sql)
result = cursor.fetchall()
for row in result:
    print(row[0], row[1], row[2], row[3])

conn.commit()
cursor.close()
conn.close()

96 제목96 a@a.com 2020-01-28 11:23:50
97 제목97 a@a.com 2020-01-28 11:23:50
98 제목98 a@a.com 2020-01-28 11:23:50
99 제목99 a@a.com 2020-01-28 11:23:50
100 제목100 a@a.com 2020-01-28 11:23:50